<div class="user-details">
  <h1>About Brady</h1>
  <p>Most of my adult life, I have been an automotive sales professional. I dropped out of college at 20 to work for my dad, a general manager at a new Ford dealership at the time. There are few professions that allow someone that young to make a decent living, and for a long time, selling cars is what I thought I wanted to do.</p>
  <p>Years later, my dad and I opened a used car lot together for which I ran the day-to-day operations. I foolishly assumed that being my own boss would make up for some of the burnout I was experiencing only to discover that it only exasperated the problems. </p>
  <p>After taking some time off to take care of family member in the late stages of Parkinson's, I decided that my energy would be best spent going back to school in order to be able to go to work and do something I enjoy.</p>
</div>

<div class="certifications">
  <h2 class="cert-title">Certifications</h2>
  <div class="cert-row">
    <img src="/assets/img/aws-badge.png" alt="AWS Cloud Practitioner Badge">
    <img src="/assets/img/itil-badge.png" alt="ITIL V4 Foundations Badge">
    <img src="/assets/img/itf-badge.png" alt="Comptia ITF+ Badge">
  </div>
</div>

<div class="user">
  <div class="tech">
    <h2>Design</h2>
    <div class="icon-row">
      <img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/html5/html5-original-wordmark.svg" alt="HTML5 logo">
      <img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/css3/css3-original-wordmark.svg" alt="CSS3 logo">
      <img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/javascript/javascript-original.svg" alt="JavaScript logo">
    </div>
    <div class="icon-row">
      <img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/angularjs/angularjs-original-wordmark.svg" alt="AngularJS logo">
      <img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/figma/figma-original.svg" alt="Figma logo">
      <img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/photoshop/photoshop-line.svg" alt="Photoshop logo">
    </div>
    <div class="icon-row">
      <img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/bootstrap/bootstrap-plain-wordmark.svg" alt="Bootstrap logo">
    </div>
  </div>
  <div class="tech">
    <h2>Code</h2>
    <div class="icon-row">
      <img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/java/java-original-wordmark.svg" alt="Java logo">
      <img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/python/python-original-wordmark.svg" alt="Python logo">
      <img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/cplusplus/cplusplus-original.svg" alt="C++ logo">
    </div>
  </div>
  <div class="tech">
    <h2>Tools</h2>
    <div class="icon-row">
      <img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/git/git-original-wordmark.svg" alt="Git logo">
      <img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/docker/docker-original-wordmark.svg" alt="Docker logo">
      <img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/spring/spring-original-wordmark.svg" alt="Spring logo">
    </div>
    <div class="icon-row">
      <img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/gradle/gradle-plain-wordmark.svg" alt="Gradle logo">
      <img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/tomcat/tomcat-original-wordmark.svg" />
      <img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/yarn/yarn-original-wordmark.svg" alt="Yarn logo">
    </div>
    <div class="icon-row">
      <img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/mysql/mysql-original-wordmark.svg" alt="MySQL logo">
      <img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/amazonwebservices/amazonwebservices-original-wordmark.svg" alt="AWS logo">
      <img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/firebase/firebase-plain-wordmark.svg" alt="Firebase logo">
    </div>
    <div class="icon-row">
      <img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/androidstudio/androidstudio-original-wordmark.svg" alt="Android Studio logo">
      <img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/nodejs/nodejs-original-wordmark.svg" alt="Node.js logo">
      <img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/npm/npm-original-wordmark.svg" alt="Npm logo">
    </div>
  </div>
</div>

<style>
.icon-row {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-bottom: 15px;
}

.icon-row img {
  width: 75px;
  height: 75px;
}

@media (max-width: 800px) {
  .icon-row img {
    width: 60px;
    height: 60px;
  }
}

@media (max-width: 600px) {
  .icon-row img {
    width: 45px;
    height: 45px;
  }
}


</style>

<style>
.cert-title {
  text-align: center;
}

.cert-row {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.cert-row img {
  width: 120px;
  height: 120px;
  margin: 20px;
}
</style>
