<style>
  .app-screenshot {
     /* Adjust this value as needed */
    max-width: auto;
    max-height: 400px; /* Adjust this value as needed */
  }
  
  .badge {
    width: 150px; /* Adjust this value as needed */
    height: auto;
  }
</style>

<div class="user-details">
  <h1> Featured Projects </h1>
</div>
<div class="user-projects">
  <div class="images-right">
    <img class="app-screenshot" alt="Litter Getter Screenshot" src="{{ "/assets/img/litter-getter.png" | prepend: site.baseurl }}" />
  </div>
  <div class="contents">
    <h3> Litter Getter </h3>
    <p>Since graduating June 16, 2023, most of the time I have spent coding has been work on Litter Getter. Litter Getter is an Android application written in Java that allows users to mark and discover litter hotspots. Litter Getter utilizes an AWS DynamoDB to store the litter location information and Firebase for user authentication/management.</p>
    <a href='https://play.google.com/store/apps/details?id=brady.boyd.littergetter&pcampaignid=pcampaignidMKT-Other-global-all-co-prtnr-py-PartBadge-Mar2515-1'><img class="badge" alt='Get it on Google Play' src='https://play.google.com/intl/en_us/badges/static/images/badges/en_badge_web_generic.png'/></a>
  </div>
</div>
<div class="user-projects">
  <div class="images-left">
    <img class="app-screenshot" alt="Inventory Management System Screenshot" src="{{ "/assets/img/ims-ss.png" | prepend: site.baseurl }}" />
  </div>
  <div class="contents-right">
    <h3> Inventory Management System </h3>
    <ul>
      <li> Featured Skills</li>
    </ul>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
    <a class="project-link" href="http://perfectpens.us-east-1.elasticbeanstalk.com/login">Live Environment</a>
    <a class="project-link" href="https://github.com/brady-boyd/inventory-management">Code Repository</a>
  </div>
</div>
<div class="user-projects">
  <div class="images-right">
    <img class="app-screenshot" alt="Hotel Booking Screenshot" src="{{ "/assets/img/hotel-ss.png" | prepend: site.baseurl }}" />
  </div>
  <div class="contents">
    <h3> Hotel Booking Application </h3>
    <ul>
      <li> Featured Skills</li>
    </ul>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
    <a class="project-link" href="http://hotel.us-east-1.elasticbeanstalk.com">Live Environment</a>
    <a class="project-link" href="https://github.com/brady-boyd/hotel">Code Repository</a>
  </div>
</div>
<div class="user-projects">
  <div class="images-left">
    <img class="app-screenshot" alt="Vacation Itinerary Manager Screenshot" src="{{ "/assets/img/vacation-ss.jpg" | prepend: site.baseurl }}" />
  </div>
  <div class="contents-right">
    <h3> Vacation Itinerary Manager </h3>
    <ul>
      <li> Featured Skills</li>
    </ul>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
    <a class="project-link" href="https://github.com/brady-boyd/vacation">Code Repository</a>
  </div>
</div>
<div class="user-projects">
  <div class="images-right">
    <img class="app-screenshot" alt="C Plus Plus Roster Application Screenshot" src="{{ "/assets/img/roster-ss.jpg" | prepend: site.baseurl }}" />
  </div>
  <div class="contents">
    <h3> C++ Student RosterApplication </h3>
    <ul>
      <li> Featured Skills</li>
    </ul>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
    <a class="project-link" href="https://github.com/brady-boyd/roster-cpp">Code Repository</a>
  </div>
</div>
<div class="user-projects">
  <div class="images-left">
    <img class="app-screenshot" alt="Pet Website Screenshot" src="{{ "/assets/img/pet-ss.png" | prepend: site.baseurl }}" />
  </div>
  <div class="contents-right">
    <h3> Pet Consultation Service Website </h3>
    <ul>
      <li> Featured Skills</li>
    </ul>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
    <a class="project-link" href="https://github.com/brady-boyd/pet-website">Code Repository</a>
  </div>
</div>
</div>
